/* Handles media queries for main UI */

.container {
    display: grid;
}
.container div {
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: monospace;
}

@media only screen and (min-width: 1200px) {
    .container {
        grid-template-columns: 2fr 3fr;
        width: 98%;
        margin: 40px auto
    }
}